.wrapper {
  overflow: auto;
  padding: 24px 32px 0px 20px;
  overflow-y: auto;
  .header-title {
    height: fit-content;
    .header {
      font-size: 2rem;
      font-weight: 700;
      color: var(--white);
      margin-bottom: 16px;
    }
    .title {
      font-size: 1.5 rem;
      font-weight: 700;
      color: var(--white);
      margin-bottom: 16px;
    }
  }
  .list-music {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    height: fit-content;
    .box-music {
      padding: 15px;
      border-radius: 5px;
      height: fit-content;
      background: #181818;
      transition: background-color 0.3s ease;
      cursor: pointer;
      &:hover {
        background: #282828;
      }
    }
  }
}
