.app {
  display: grid;
  grid-template-areas:
    "nav-bar top-bar"
    "nav-bar main-view"
    "player-bar player-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #121212;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff4d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #898989;
}
